body {
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.formulario {
    margin-top: 50px;
    height: 700px;
    color: #fff;
    border: 5px solid#06755d;
    transition: 2s;
    background: #000;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}